<div class="container">
    <div class="card column is-7">
      <div class="card-content">
        <p class="title">
          "flame linkを使ったデモ"
        </p>
        <p class="subtitle">
          "技術ブログになることを想定"
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
      <span>
        View on <a routerLink="/blog">blog demo</a>
      </span>
        </p>
        <p class="card-footer-item">
        </p>
      </footer>
    </div>

  <div class="is-divider" data-content="OR"></div>

  <div class="card column is-7">
    <div class="card-content">
      <p class="title">
        "youtube & memo ツールデモ"
      </p>
      <p class="subtitle">
        "youtube + memo みたいな使い方を刷る予定"
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
      <span>
        View on <a routerLink="/tubedoc">tubedoc demo</a>
      </span>
      </p>
      <p class="card-footer-item">
      </p>
    </footer>
  </div>
</div>
